<h1> This is the Creators Detail Page </h1>

<% details.forEach(detail=> { %>
  <div>
    <p>
      Name: <%= detail.fullName %>
    </p>
    <p>
      <img src='<%= detail.thumbnail.path%>.jpg' alt="Picture of <%= detail.fullName %>"/>
    </p>
    <p>
        Comics: <%= detail.comics.available %>
        <br>
        Series: <%= detail.series.available %>
        <br>
        Stories: <%= detail.stories.available %>
        <br>
        Events: <%= detail.events.available %>
    </p>
  </div>
  <% }) %>

  <% comics.forEach(comic => { %>
    <a href="/comics/<%=comic.id %>">
     <img src='<%= comic.thumbnail.path%>/portrait_incredible.jpg' alt="Picture of <%= comic.title %>"/>
   </a> 
   <% }) %>

  <p>
    <%= attribution %>
  </p>