<h1 class="text-center"> My favorite creators </h1>

<% creatorArray.forEach(creator => { %>

 <div class="container-md">
  <div class="card mb-3">
   <div class="row g-0">
     <div class="col-md-4">
       <img src="<%=creator.thumbnail%>" class="img-fluid rounded-start" alt="Picture of <%= creator.name %>">
     </div>
     <div class="col-md-8">
       <div class="card-body">
         <h5 class="card-title fs-1"><%= creator.name %></h5>
         <p class="card-text fs-4">
          Comics: <%= creator.comics %> 
          | Series: <%= creator.series %> 
          | Stories: <%= creator.stories %> 
          | Events: <%= creator.events %> 
        </p>
         <p class="card-text"><small class="text-muted">
          <form action="/creators/?_method=DELETE" method="POST">
            <input hidden name="creatorId" value="<%= creator.id %>">
            <button class="btn btn-outline-light" type="submit">Remove from favorites</button>
          </form>
       </small> </p>
       <p class="card-text"><small class="text-muted">
         Data provided by Marvel. © 2022 Marvel
       </small> </p>
       </div>
     </div>
   </div>
 </div>
</div>


<% }) %>