<br>

  <% if (badData.count===0) {%>
    <h1 class='text-center'> No search results... Please try again!</h1>
    
    <div class='d-flex justify-content-center'>
      <img src="/img/hulk.gif" />
    </div>
    
    <% } else { %>
      <div class = "text-center">
      <h1> Comics:</h1>
      <br>
      <% comics.forEach(comic=> { %>
        <div class="container" style="max-width: 740px;">
          <div class="card mb-4" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src='<%= comic.thumbnail.path%>/portrait_uncanny.jpg' class="img-fluid rounded-start" alt="Picture of <%= comic.name %>"/>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title fs-1"><%= comic.title %></h5>
                  <p class="card-text">
                    <% if ( comic.description !== null) { %>
                    Description: <%= comic.description %>
                    <% } %>
                  </p>
                  <p class="card-text"> <small class="text-muted">
                    <a href="/comics/<%=comic.id %>"> More Details</a>
                  </small>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
          <% }) %>
        </div>
          <% } %>

