<br>
<h1 class=text-center> Comic Details </h1>
<br>

<% details.forEach(detail=> { %>
  <div class="container-xl">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="<%= marvelUrl.results[0].urls[0].url %>">
            <img src='<%= detail.thumbnail.path%>.jpg' class="img-fluid rounded-start"
              alt="Picture of <%= detail.title %>" />
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title fs-1">
              <%= detail.title %>
            </h2>
            <p class="card-text fs-5">
              Series: <%= detail.series.name %>
            </p>
            <p class="card-text fs-4">
              <% if ( detail.description==="" ) { %>
                No description provided
                <%} else { %>
                  Description: <%= detail.description %>
                    <% } %>
            </p>
            <p class="card-text fs-4 ">
              Creators:
              <% for( let i=0; i < detail.creators.items.length; i++ ) { %>
                <% const url=detail.creators.items[i].resourceURI
                const lastSegment=url.split("/").pop() %>
                  <a class = "text-decoration-none" href="/creators/<%= lastSegment%>">
                    <%= detail.creators.items[i].name %>
                    (<%=detail.creators.items[i].role%>)
                    </a> 
                    |<% } %>
            </p>
            <p class="card-text fs-4">
            Characters:
            <% chars.forEach(char=> { %>
              <a class = "text-decoration-none" href="/characters/<%= char.id%>">
                <%= char.name %> 
              </a> |
              <% }) %>
            </p>
                <p class='fs-5'>
                  Stories: <%= detail.stories.available %>
                    | Events: <%= detail.events.available %>
                </p>
                <form method="POST" action="/comics">
                  <input hidden type="text" name="title" value="<%= detail.title %>">
                  <input hidden type="text" name="description" value="<%= detail.description %>">
                  <input hidden type="text" name="series" value="<%= detail.series.name %>">
                  <input hidden type="text" name="thumbnail" value="<%= detail.thumbnail.path%>.jpg">
                  <button type="submit">Add to Favorites</button>
                </form>
                </small> </p>
                <p class="card-text"><small class="text-muted">
                    <%= attribution %>
                  </small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% }) %>