<h1> this is the characters page </h1>

<% details.forEach(detail=> { %>
  <div>
    <p>
      Name: <%= detail.name %>
    </p>
    <p> 
      <% if ( detail.description === "") { %>
        No description provided
        <%} else { %>
        Description: <%= detail.description %>
      <% } %>
    </p>
    <p>
      Comics: <%= detail.comics.available %>
    </p>
    <p>
      Series: <%= detail.series.available %>
    </p>
    <p>
      Stories: <%= detail.stories.available %>
    </p>
    <p>
      Events: <%= detail.events.available %>
    </p>
    <p>
      <img src='<%= detail.thumbnail.path%>/portrait_incredible.jpg' alt="Picture of <%= detail.name %>"/>
      <%= attribution %>
    </p>

    <form method="POST" action="/characters">
      <input hidden type="text" name="name" value="<%= detail.name %>">
      <input hidden type="text" name="description" value="<%= detail.description %>">
      <input hidden type="text" name="thumbnail" value="<%= detail.thumbnail.path%>.jpg">
      <button class="btn btn-primary" type="submit">Add to Favorites</button>
    </form>

  </div>
  <p>
    <% if (detail.comics.available >= 1) { %>
      <% for( let i = 0; i < detail.comics.items.length; i++ ) { %>
        <%= detail.comics.items[i].name %>, 
        <% if (i === 5) { %>
         <% break; %> 
        <% } %>
      <% } %> 
        <% } else { %>
         No comics
    <% } %>
   </p>
  <div>

  </div>
  <% }) %>


  <% comics.forEach(comic => { %>
    <img src='<%= comic.thumbnail.path%>/portrait_incredible.jpg' alt="Picture of <%= comic.title %>"/>
  <% }) %>