<br>
<h1 class = "text-center"> Character Details </h1>
<br>

<% details.forEach(detail=> { %>
  <div class="container-xxl">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="<%= linkToMarvel.results[0].urls[1].url %>">
            <img src="<%= detail.thumbnail.path%>.jpg" class="img-fluid rounded-start" alt="Picture of <%= detail.name %>">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title fs-1 fw-bold"><%= detail.name %></h2>
            <p class="card-text fs-4">
              <% if ( detail.description === "") { %>
                No description provided
                <%} else { %>
                <%= detail.description %>
              <% } %>
            </p>
            <p class = 'fs-5'>
              Comics: <%= detail.comics.available %>
              | Series: <%= detail.series.available %>
              | Stories: <%= detail.stories.available %>
              | Events: <%= detail.events.available %>
            </p>
            <p class="card-text"><small class="text-muted">
            <form method="POST" action="/characters">
              <input hidden type="text" name="name" value="<%= detail.name %>">
              <input hidden type="text" name="description" value="<%= detail.description %>">
              <input hidden type="text" name="thumbnail" value="<%= detail.thumbnail.path%>.jpg">
              <button class="btn btn-outline-light" type="submit">Add to Favorites</button>
            </form>
          </small> </p>
            <p class="card-text"><small class="text-muted">
              <%= attribution %>
            </small></p>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>

  <br>

  <div class="card-group" >
    <% comics.forEach(comic => { %>
        <div class="card">
          <a href="/comics/<%=comic.id %>">
            <img src="<%= comic.thumbnail.path%>/portrait_incredible.jpg" class="card-img-top" alt="Picture of <%= comic.title %>">
          </a>
          <div class="card-body">
            <h5 class="card-title"><%= comic.title %> </h5>
            <p class="card-text"><small class="text-muted"><%= attribution %></small></p>
          </div>
        </div>
      <% }) %>
   </div>