<h1> My favorite characters </h1>

<% charArray.forEach(char => { %>
 <p>
   <%= char.name %> :
   <%= char.description %> 
   <img src='<%=char.thumbnail%>' alt="Picture of <%= char.name %>"/>
 </p>

 <form action="/characters/?_method=DELETE" method="POST">
   <input hidden name="characterId" value="<%= char.id %>">
   <button type="submit">Remove from favorites</button>
 </form>

<% }) %>
